<template>
    <div class="jumbotron">
        <b-form @submit="onSubmit" @reset="onReset" @input="onChange">
            <b-form-group id="emailGroup"
                          label="Email address:"
                          label-for="email"
                          description="We'll never share your email with anyone else.">
                <b-form-input id="email"
                              type="email"
                              v-model="form.email"
                              required
                              placeholder="Enter email">
                </b-form-input>
            </b-form-group>
            <b-form-group id="passwordGroup"
                          label="Your Password:"
                          label-for="password">
                <b-form-input id="password"
                              type="password"
                              v-model="form.password"
                              required
                              placeholder="Enter password">
                </b-form-input>
            </b-form-group>
            <b-button type="submit" variant="primary">Submit</b-button>
            <b-button type="reset" variant="danger" v-if="show">Reset</b-button>
        </b-form>
        <p class="text-danger" v-if="showError">Wrong credentials</p>
        <small class="text-warning text-right"
               :style="{ marginTop: '25px', display: 'block' }">
            <button class="btn btn-sm" @click="useAdmin">Click me</button>
            to use admin login
        </small>
    </div>
</template>

<script>

    export default {
        data() {
            return {
                form: {
                    email: '',
                    password: ''
                },
                show: false,
                showError: false
            }
        },
        props: {},
        computed: {},
        mounted() {
        },
        methods: {
            onSubmit(evt) {
                evt.preventDefault();
                this.$root.auth().login(this.form).then(response => {
                    this.$root.currentRoute = '/';
                    window.history.pushState(
                        null,
                        'Home',
                        '/'
                    );
                })
                    .catch(err => {
                        this.showError = true;
                    });
            },
            onReset(evt) {
                evt.preventDefault();
                this.showError = false;
                /* Reset our form values */
                this.form.email = '';
                this.form.password = '';

                this.show = false;
            },
            onChange() {
                this.showError = false;
                this.show = true;
            },
            useAdmin() {
                this.form.email = 'admin@gmail.com';
                this.form.password = 'admin';
                this.show = true;
            },
        }
    }
</script>

<style scoped>
    .active {
        color: cornflowerblue;
    }
</style>
