<template>

    <div class="transactions">

        <h1>Transactions</h1>

        <form v-bind:class="{ 'form-horizontal': true, 'loading': loading }"
              role="form" @submit="onSubmit" @change="onSubmit">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="amount">Amount</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="amount" placeholder="Amount"
                           v-model="form.amount"></div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="amount">Date</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" id="date" placeholder="Amount"
                           v-model="form.date"></div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="amount">Offset</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="offset" placeholder="Amount"
                           v-model="form.offset"></div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="amount">Limit</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="limit" placeholder="Amount"
                           v-model="form.limit"></div>
            </div>
        </form>

        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>id</th>
                    <th>customer</th>
                    <th>amount</th>
                    <th>date</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="transaction in transactions">
                    <td>{{transaction.transactionId}}</td>
                    <td>{{transaction.customerId}}</td>
                    <td>{{transaction.amount}}</td>
                    <td>{{transaction.date.date}}</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

</template>

<script>

    export default {
        data() {
            return {
                form: {
                    amount: '',
                    date: '',
                    offset: 0,
                    limit: 10
                },
                transactions: [],
                loading: false
            }
        },
        props: {},
        computed: {},
        mounted() {
            this.getTransactions();
        },
        methods: {
            onSubmit(evt) {
                evt.preventDefault();
                this.getTransactions();
            },
            getTransactions() {
                this.loading = true;
                this.$root.axios.post('/transaction/search', this.form)
                    .then(response => {
                        this.transactions = response.data;
                        this.loading = false;
                    })
                    .catch(err => {
                        if(err.response.status === 401) {
                            this.$root.auth().logout();
                        }
                        this.loading = false;
                    })
            },
            go(event) {
                event.preventDefault();
                this.$root.currentRoute = this.href;
                // window.history.pushState(
                //     null,
                //     routes[this.href].name,
                //     this.href
                // )
            }
        }
    }
</script>

<style scoped>
    .loading {
        position: relative;
    }

    .loading:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        opacity: 0.6;
    }
</style>
