<template>
    <div class="wrapper">

        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar" aria-expanded="false"
                            aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <v-link class="navbar-brand" href="/">DIGI Test</v-link>
                </div>

                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <v-link href="/login" v-if="!loggedIn">Login</v-link>
                            <v-link href="/transactions" v-if="loggedIn">Transactions</v-link>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>

        <div class="container">
            <slot></slot>
        </div>
    </div>
</template>

<script>

    export default {
        computed: {
            loggedIn() {
                return this.$root.auth().loggedIn();
            }
        },
    }
</script>